<mat-card>
    <mat-form-field>
        <mat-select [formControl]="sortByControl">
            <mat-option value="title">title</mat-option>
            <mat-option value="rating">rating</mat-option>
        </mat-select>
    </mat-form-field>
</mat-card>
<mat-card *ngFor="let movie of movies$ | async">
    <mat-card-header>
        <mat-card-title>{{movie.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="movie.cover_url" />
    <mat-card-content>
        <p>{{movie.description}}</p>
    </mat-card-content>
</mat-card>