<mat-card>
    <form [formGroup]="sortByForm">
        <mat-form-field>
            <mat-label>sort by</mat-label>
            <mat-select formControlName="sortBy">
                <mat-option value="title">title</mat-option>
                <mat-option value="rating">rating</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>sort by order</mat-label>
            <mat-select formControlName="sortByOrder">
                <mat-option value="aesc">AESC</mat-option>
                <mat-option value="desc">DESC</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-card>
<mat-card *ngFor="let movie of movies$ | async">
    <mat-card-header>
        <mat-card-title>{{movie.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="movie.cover_url" />
    <mat-card-content>
        <p>{{movie.description}}</p>
    </mat-card-content>
</mat-card>